<div class="login-wrapper">
  <div class="login-content">
    <h1>账号密码登录</h1>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="name" required placeholder="用户名">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="密码">
      </div>
      <button type="submit" class="btn btn-default" [routerLink]="'/dashboard'">提交</button>
    </form>
    <div class="tip-list">
      <a href="javascript:void(0)">忘记密码</a>
      <a href="javascript:void(0)">注册用户</a>
    </div>
  </div>
</div>