<!-- 顶部菜单 -->
<header>
  办公管理系统
</header>
<div class="container">
  <!-- 左侧菜单 -->
  <aside>
     <ul class="meun-item">
      <li><a [routerLink]="'/listTodo'" routerLinkActive="active">待办</a></li>
      <li><a [routerLink]="'/login'" routerLinkActive="active">登录</a></li>
       <li><a [routerLink]="'/dashboard'" routerLinkActive="active">控制面板</a></li>
     </ul>
  </aside>
  <!-- 中间内容区域 -->
  <div class="content">
    <div class="news-wrapper">
      <h1 class="title">图文列表</h1>
      <ul>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/b7-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/b19-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/b18-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/m12-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/m17-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/b7-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/b19-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/b18-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/m12-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/m17-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation"
              class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/b7-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/b19-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/b18-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img width="150" height="150" src="../../assets/m12-150x150.jpg">
          </div>
          <div class="item-desc">
            <a href="#" data-pjax="" title="The Separation" class="text-ellipsis">The Separation</a>
            <div class="text-muted">by Miaow</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="airticle-list">
      <h1 class="title">图文并排</h1>
      <ul>
        <li>
          <div class="post-media">
            <img width="400" height="200"
              src="../../assets/photo-1421986527537-888d998adb74.jpeg"
              class="img-full wp-post-image">
          </div>
          <div class="entry-content">
            <p>
              Earum eos excepturi, magnam maiores nam neque omnis quisquam recusandae repellat soluta ullam, vel voluptas
              voluptatum? Facilis fugit id ipsum nemo neque nisi non possimus quae quam quibusdam quo repudiandae sapiente,
              similique ...
            </p>
            <div class="post-contrl">
              <span class="cat-links">Posted in <a href="#">Event</a></span><span class="comments-link"><a href="#">Leave a
                  comment</a></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer></footer>